ODPortalWebAPI/bin/Debug/netcoreapp3.1/ODPortalWebAPI.dll
ODPortalWebAPI/bin/Debug/netcoreapp3.1/ODPortalWebAPI.pdb
ODPortalWebAPI/bin/Debug/netcoreapp3.1/ODPortalWebDL.dll
ODPortalWebAPI/bin/Debug/netcoreapp3.1/ODPortalWebDL.pdb
ODPortalWebAPI/Logs/ODPortal-20220218.txt
ODPortalWebAPI/bin/Debug/netcoreapp3.1/ODPortalWebAPI.dll
ODPortalWebAPI/bin/Debug/netcoreapp3.1/ODPortalWebAPI.dll
ODPortalWebAPI/bin/Debug/netcoreapp3.1/ODPortalWebAPI.pdb
ODPortalWebAPI/bin/Debug/netcoreapp3.1/ODPortalWebDL.dll
ODPortalWebAPI/bin/Debug/netcoreapp3.1/ODPortalWebDL.pdb
ODPortalWebAPI/bin/Debug/netcoreapp3.1/ODPortalWebDL.dll
ODPortalWebAPI/bin/Debug/netcoreapp3.1/ODPortalWebAPI.pdb
ODPortalWebAPI/bin/Debug/netcoreapp3.1/ODPortalWebAPI.dll
ODPortalWebDL/obj/Debug/netcoreapp3.1/ODPortalWebDL.pdb
ODPortalWebDL/obj/Debug/netcoreapp3.1/ODPortalWebDL.GeneratedMSBuildEditorConfig.editorconfig
ODPortalWebDL/obj/Debug/netcoreapp3.1/ODPortalWebDL.dll
ODPortalWebDL/obj/Debug/netcoreapp3.1/ODPortalWebDL.csproj.AssemblyReference.cache
ODPortalWebDL/obj/Debug/netcoreapp3.1/ODPortalWebDL.assets.cache
ODPortalWebDL/bin/Debug/netcoreapp3.1/ODPortalWebDL.pdb
ODPortalWebDL/bin/Debug/netcoreapp3.1/ODPortalWebDL.dll
ODPortalWebAPI/obj/Debug/netcoreapp3.1/ODPortalWebAPI.pdb
ODPortalWebAPI/obj/Debug/netcoreapp3.1/ODPortalWebAPI.GeneratedMSBuildEditorConfig.editorconfig
ODPortalWebAPI/obj/Debug/netcoreapp3.1/ODPortalWebAPI.dll
ODPortalWebAPI/obj/Debug/netcoreapp3.1/ODPortalWebAPI.csproj.AssemblyReference.cache
ODPortalWebAPI/obj/Debug/netcoreapp3.1/ODPortalWebAPI.assets.cache
