<!-- <div>
    <div class="header col-sm-12">
        <img class="logo" src="favicon.ico" style="float: left;">
        <p style="display: inline-block;">Old Delhi Satsang Branch</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 mr-auto">
                <div class="info-area info-horizontal mt-5">
                    <div class="icon icon-primary">
                        <i class="nc-icon nc-atom"></i>
                    </div>
                    <div class="description">
                        <h3 class="info-title">Branch Doctor</h3>
                        <p class="description">
                            #9912311231
                        </p>
                    </div>
                </div>
                <div class="info-area info-horizontal mt-5">
                    <div class="icon icon-primary">
                        <i class="nc-icon nc-html5"></i>
                    </div>
                    <div class="description">
                        <h5 class="info-title">Branch Secretary</h5>
                        <p class="description">
                            #99123123123
                        </p>
                    </div>
                </div>
                <div class="info-area info-horizontal mt-5">
                    <div class="icon icon-info">
                        <i class="nc-icon nc-tv-2"></i>
                    </div>
                    <div class="description">
                        <h5 class="info-title">Technical Team</h5>
                        <p class="description">
                            #99123555523
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 ml-auto">
                <div class="container col-sm-12">
                    <section id="content" class="col-sm-12">
                        <form (ngSubmit)="login()" #loginForm="ngForm" class="col-sm-10">
                            <h1 class="col-sm-12">Login</h1>
                            <div class="col-sm-12">
                                <input type="text" autocomplete="false" name="username" [(ngModel)]='user.username'
                                    #username="ngModel" placeholder="Enter Username (UID Number)" required=""
                                    id="username" />
                            </div>
                            <div class="col-sm-12">
                                <input type="password" autocomplete="false" name="password" [(ngModel)]='user.password'
                                    #password="ngModel" placeholder="Enter Password" required="" id="password" />
                            </div>
                            <div class="col-sm-12">
                                <input style="margin-left: 33px;" [disabled]="!loginForm.form.valid" type="submit"
                                    value="Log in" />
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p style="display: inline;">Copyright © 2020-2021 Old Delhi Satsang Branch</p>
    </div>
</div> -->


<div class="header col-sm-12">
    <img class="logo" src="favicon.ico" style="float: left;">
    <p style="display: inline-block;">Old Delhi Satsang Branch</p>
</div>
<div class="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-5 ml-auto">
          <div class="info-area info-horizontal ">
            <div class="icon icon-primary">
              <i class="nc-icon nc-atom"></i>
            </div>
            <div class="description">
              <h5 class="info-title">Branch Doctor</h5>
              <p class="description">
                Name: Some Text........... Number: #789798798.......
              </p>
            </div>
          </div>
          <div class="info-area info-horizontal mt-5">
            <div class="icon icon-primary">
              <i class="nc-icon nc-html5"></i>
            </div>
            <div class="description">
              <h5 class="info-title">Branch Secretary</h5>
              <p class="description">
                Name: Some Text........... Number: #789798798.......
              </p>
            </div>
          </div>
          <div class="info-area info-horizontal mt-5">
            <div class="icon icon-info">
                <i class="nc-icon nc-tv-2"></i>
            </div>
            <div class="description">
              <h5 class="info-title">Technical Team</h5>
              <p class="description">
                Name: Some Text........... Number: #789798798.......
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mr-auto">
          <div class="card card-signup text-center">
            <section id="content" class="col-sm-12">
                <form (ngSubmit)="login()" #loginForm="ngForm" class="col-sm-10">
                    <h1 class="col-sm-12">Login</h1>
                    <div class="col-sm-12">
                        <input type="text" autocomplete="false" name="username" [(ngModel)]='user.username'
                            #username="ngModel" placeholder="Enter Username (UID Number)" required=""
                            id="username" />
                    </div>
                    <div class="col-sm-12">
                        <input type="password" autocomplete="false" name="password" [(ngModel)]='user.password'
                            #password="ngModel" placeholder="Enter Password" required="" id="password" />
                    </div>
                    <div class="col-sm-12">
                        <input style="margin-left: 33px;" [disabled]="!loginForm.form.valid" type="submit"
                            value="Log in" />
                    </div>
                </form>
            </section>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="footer">
    <p style="display: inline;">Copyright © 2020-2021 Old Delhi Satsang Branch</p>
</div>