<div class="tabStyles">
    <ngb-tabset [destroyOnHide]="true">
        <ngb-tab title="Grid Coordinator">
            <ng-template ngbTabContent>
                <div class="form-group">
                    <app-grid-coord>
                    </app-grid-coord>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Update Posted Attendance">
            <ng-template ngbTabContent>
                <div class="form-group">
                    <app-update-people-attendance>
                    </app-update-people-attendance>
                </div>
            </ng-template>
        </ngb-tab>
        <!-- <ngb-tab title="Branch Attendance Summary">
            <ng-template ngbTabContent>
                <div class="row">
                    <div class="card-body">
                        <div class="form-group">
                            <app-attendance-summary>
                            </app-attendance-summary>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab> -->
    </ngb-tabset>
</div>